// Place all the styles related to the searchPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.data{
}
.SearchTitle{
margin:0;
padding-top:50px;
padding-bottom:20px;
padding-left:20px;
}
.SearchResult{
margin:0;
padding-left:20px;
}
.boxArt {
padding-top:10px;
}

.description {
overflow: hidden;
height: 65px;
}
.releaseDate {
margin-top:10px;
padding-bottom:0px;
}
